<% @user.each do |usr| %>
  <div class="well">
    <p>
      <%= usr.email %>
      <%if usr.admin == true %>
        - Администратор
        <%= link_to "Разжаловать", user_path(usr), method: :put, data:{confirm:"Хотите испорить человеку жизнь?"},:class => 'btn btn-danger' %>
      <%else %>
        - Пользователь
        <%= link_to "Сделать администратором", user_path(usr), method: :put, data:{confirm:"Хотите сделать данного пользователя админом?"},:class => 'btn btn-success' %>
        <%end %>
    </p>

  </div>
<% end %>